<% @bucket_lists.each do |bucket_list| %>
<div class="index_row clearfix">
    <h2 class="bucket_list_title"><%= link_to bucket_list.title, bucket_list %></h2>
    <p class="bucket_list_sub_title"><%= bucket_list.description %></p>
</div>
<% end %>

<div class="links">
    <h2><%= link_to "Create A New Bucket List Here", new_bucket_list_path %></h2>
</div>




